#a{
    width:480px;
    height:75px;
    background-color: red;
}
#b{
    width:480px;
    height:150px;
    background-color: blueviolet;
}
#c{
    width:480px;
    height:125px;
    background-color: green;
}
#d{
    width:480px;
    height:125px;
    background-color: yellow;
}
#e{
    width:240px;
    height:250px;
    background-color: pink;
}
#f{
    width:240px;
    height:250px;
    background-color: purple;
}
#g{
    width:240px;
    height:250px;
    background-color: peru;
}
#h{
    width:240px;
    height:250px;
    background-color: darkkhaki;
}
#i{
    width:480px;
    height:80px;
    background-color: lightcoral;
}